* {
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@font-face {
  font-family: "Hanken Grotesk";

  src: local("Hanken Grotesk"),
    url("../fonts/static/HankenGrotesk-Bold.ttf") format("opentype"),
    url("../fonts/static/HankenGrotesk-ExtraBold.ttf") format("opentype"),
    url("../fonts/static/HankenGrotesk-Medium.ttf") format("opentype");
}

body {
  width: 1440px;
  height: 1080px;
  padding: 284px 352px;
  justify-content: center;
  align-items: center;

  background: var(--Very-Light-blue, #ecf2ff);
}

.container {
  width: 736px;
  height: 512px;
  flex-shrink: 0;

  border-radius: 32px;
  background: var(--White, #fff);
  box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
}

.right-part {
  width: 368px;
  height: 512px;
  flex-shrink: 0;
  margin-left: 0;

  border-radius: 32px;
  background: var(
    --Gradient-1,
    linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%)
  );
}

/* Mobile styles */
@media (max-width: 375px) {
  .right-part {
    width: 375px;
    height: 356px;
    flex-shrink: 0;
  }
}

/* Desktop styles */
@media (min-width: 376px) {
  .container {
    display: flex;
    justify-content: space-around;
  }

  /* Right Part */

  .right-part {
    text-align: center;
  }

  .right-part h3 {
    position: relative;
    top: 38px;

    color: var(--Light-Blue, #cac9ff);
    font-feature-settings: "clig" off, "liga" off;

    /* Heading M */
    font-family: Hanken Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .right-part #great {
    position: relative;
    top: 121px;

    color: var(--White, #fff);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;

    /* Heading L */
    font-family: Hanken Grotesk;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .right-part p {
    width: 260px;
    color: var(--Light-Blue, #cac9ff);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;

    /* Body */
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    position: relative;
    top: 130px;
  }

  /* Oval */
  .oval {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    text-align: center;
    position: relative;
    top: 104px;
    border-radius: 50%;

    background: var(
      --Gradient-2,
      linear-gradient(
        180deg,
        #4d21c9 0%,
        rgba(37, 33, 201, 0) 100%,
        rgba(37, 33, 201, 0) 100%
      )
    );
  }

  .oval .points {
    width: 81px;
    height: 72px;

    color: var(--White, #fff);
    /* text-align: center; */
    font-feature-settings: "clig" off, "liga" off;

    /* Heading XL */
    font-family: Hanken Grotesk;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 72px; /* 100% */

    position: absolute;
    top: 55px;
    left: 59px;
    right: 60px;
  }

  .oval .full-points {
    width: 52px;
    height: 23px;

    color: var(--Light-Blue, #cac9ff);
    font-feature-settings: "clig" off, "liga" off;

    /* Body (Bold) */
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    opacity: 0.5168;

    position: relative;
    bottom: 46px;
    top: 131px;
  }

  /* Left Part */
  .left-part {
    margin-right: 40px;
    margin-left: 40px;
  }

  .left-part h3 {
    color: var(--Dark-Navy, #303b59);
    font-feature-settings: "clig" off, "liga" off;

    /* Heading M */
    font-family: Hanken Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-top: 38px;
  }

  .left-part ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-top: 28px;
  }

  .left-part ul li {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 288px;
    height: 56px;
    flex-shrink: 0;

    border-radius: 12px;
  }

  .reaction {
    background: var(
      --red-95-white,
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.95) 0%,
        rgba(255, 255, 255, 0.95) 100%
      ),
      #f55
    );
  }

  .memory {
    border-radius: 12px;
    background: var(
      --yellow-95-white,
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.95) 0%,
        rgba(255, 255, 255, 0.95) 100%
      ),
      #ffb21e
    );
  }

  .verbal {
    border-radius: 12px;
    background: var(
      --green-95-white,
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.95) 0%,
        rgba(255, 255, 255, 0.95) 100%
      ),
      #00bb8f
    );
  }

  .visual {
    border-radius: 12px;
    background: var(
      --blue-95-white,
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.95) 0%,
        rgba(255, 255, 255, 0.95) 100%
      ),
      #1125d6
    );
  }

  .left-part button {
    width: 288px;
    height: 56px;
    margin-top: 25px;

    flex-shrink: 0;
    border-radius: 128px;
    background: var(--Dark-Navy, #303b59);

    color: var(--White, #fff);

    font-feature-settings: "clig" off, "liga" off;

    /* Body (Bold) */
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .reaction-text {
    color: var(--Red, #f55);
    font-feature-settings: "clig" off, "liga" off;

    /* Body */
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .memory-text {
    color: var(--Yellow, #ffb21e);
    font-feature-settings: "clig" off, "liga" off;

    /* Body */
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .verbal-text {
    color: var(--Green, #00bb8f);
    font-feature-settings: "clig" off, "liga" off;

    /* Body */
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .visual-text {
    color: var(--Blue, #1125d6);
    font-feature-settings: "clig" off, "liga" off;

    /* Body */
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  /*ICONS */
  .memory-text::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/icon-memory.svg");
    background-size: cover;
    margin-right: 12px;
    vertical-align: text-bottom;
  }

  .reaction-text::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/icon-reaction.svg");
    background-size: cover;
    margin-right: 12px;
    vertical-align: text-bottom;
  }

  .verbal-text::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/icon-verbal.svg");
    background-size: cover;
    margin-right: 12px;
    vertical-align: text-bottom;
  }

  .visual-text::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../images/icon-visual.svg");
    background-size: cover;
    margin-right: 12px;
    vertical-align: text-bottom;
  }

  .left-part button:hover {
    border-radius: 128px;
    background: var(
      --Gradient-1,
      linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%)
    );
  }
}
